body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

#textroot {
    width: 30%;
    margin: 0;
    padding: 0;
}

#threeroot {
width: 100%;
height: 70%;
    margin: 0;
        padding: 0;
}